<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5808d06a88.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/assets/css/style.css">
</head>
<body>
    <h1>Resumen seleccion</h1>
    <div id="resumen">

    </div>
    <script src="../../public/assets/js/app.js"></script>
    <script src="../../public/assets/js/resumen-guerreros.js"></script>
</body>
</html>